In [18]:
import psycopg2
import time
from datetime import datetime
import pandas as pd
import constants

In [2]:
#!pip3 install psycopg2

In [3]:
# Establish a connection to the database
conn = psycopg2.connect(
    host="localhost",
    database="postgres",
    user="postgres",
    password="qwerty"
)

In [4]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [5]:
cur

In [6]:
current_time = pd.to_datetime(datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
current_time

Timestamp('2023-03-01 22:51:08')

In [7]:
# Execute a query to insert a row into a table
for i in range(10):
    current_time = pd.to_datetime(datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
    cur.execute("INSERT INTO discord_table (message, id, datetime, author, status, server_name, channel_name) VALUES (%s, %s, %s, %s, %s, %s, %s)", ("test message_"+str(2+i), 2+i, current_time, 'author', 'FROM_DISCORD', 'server_name', 'channel_name'))

In [8]:
# Execute a SELECT query to read data from a table
cur.execute("SELECT * FROM discord_table")

In [9]:

# Fetch all the rows returned by the query
rows = cur.fetchall()

# Print the data
for row in rows:
    print(row)

# Close the cursor and the database connection
cur.close()
conn.close()

('test message_2', 2, datetime.datetime(2023, 3, 1, 22, 51, 10), 'author', 'FROM_DISCORD', 'server_name', 'channel_name')
('test message_3', 3, datetime.datetime(2023, 3, 1, 22, 51, 10), 'author', 'FROM_DISCORD', 'server_name', 'channel_name')
('test message_4', 4, datetime.datetime(2023, 3, 1, 22, 51, 10), 'author', 'FROM_DISCORD', 'server_name', 'channel_name')
('test message_5', 5, datetime.datetime(2023, 3, 1, 22, 51, 10), 'author', 'FROM_DISCORD', 'server_name', 'channel_name')
('test message_6', 6, datetime.datetime(2023, 3, 1, 22, 51, 10), 'author', 'FROM_DISCORD', 'server_name', 'channel_name')
('test message_7', 7, datetime.datetime(2023, 3, 1, 22, 51, 10), 'author', 'FROM_DISCORD', 'server_name', 'channel_name')
('test message_8', 8, datetime.datetime(2023, 3, 1, 22, 51, 10), 'author', 'FROM_DISCORD', 'server_name', 'channel_name')
('test message_9', 9, datetime.datetime(2023, 3, 1, 22, 51, 10), 'author', 'FROM_DISCORD', 'server_name', 'channel_name')
('test message_10', 10, datetime.datetime(2023, 3, 1, 22, 51, 10), 'author', 'FROM_DISCORD', 'server_name', 'channel_name')
('test message_11', 11, datetime.datetime(2023, 3, 1, 22, 51, 10), 'author', 'FROM_DISCORD', 'server_name', 'channel_name')

In [ ]:
UPDATE table_name SET column1 = subquery.column1, column2 = subquery.column2, column3 = subquery.column3
FROM (SELECT column1, column2, column3 FROM table_name ORDER BY id DESC OFFSET 1) AS subquery
WHERE table_name.id = subquery.id + 1;

In [20]:
columns = ['server_id', 'server_name', 'channel_id', 'channel_name']
data = [[903535408846077952, 'Dark Echelon', 964218449301737503, 'Main-corner'],
        [290843998296342529, 'Anime', 826527827792887869, 'Main']]
servers_df = pd.DataFrame(data=data, columns=columns)
servers_df

            server_id   server_name          channel_id channel_name
0  903535408846077952  Dark Echelon  964218449301737503  Main-corner
1  290843998296342529         Anime  826527827792887869         Main

In [21]:
servers_df.to_csv('Servers/servers.csv', index=False)

In [23]:
table = pd.read_csv(constants.SERVERS_TABLE_PATH)

In [27]:
table['server_id'].to_list()

[903535408846077952, 290843998296342529]